/* Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --coffee-brown: #A56133;
    --cream: #CEB8A1;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #000;
  color: #111;

}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
    background-color: #fff;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}


.navigation {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-bottom: 1px solid white;    
    color: var(--coffee-brown);
    background-color: #000;
}